header
{
    display: table;
    background-color: white;
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
    box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    float: left;
    margin-left: 54;
}

header ul
{
    margin-right: 1%;
    display: flex;
    list-style: none;
    float: right;
    padding: 0;
    margin:0px;
    text-align:center;
}

li
{
    margin-left: 30;
}

a{
    text-decoration: none;
}

li a {
    font-family: Roboto;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #4E4E4E;
}

.trim{
    overflow: hidden;
    width: 100%;
    height: 779px;
    background-image: url('../img/image2.png');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: -1;
}

.logo{
    width: 155;
}

.container{
    display: inline-flex;
    padding-right: 3%;
    flex-direction: column;
    float: right;
}

.chevron::before {
	border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	vertical-align: top;
	width: 0.45em;
    margin-top: 0.3em;
}
.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}


.social-icons{
    display: flex;
    flex-direction: row-reverse;
    float: right;
}
.social-icons img{
    margin-left: 2%;
    margin-top: 2%;
}

.callToAction{
    position: absolute;
    top: 30%;
    left: 8%;
}

.title{
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    line-height: 52px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #2871B7 ;
}

.subtitle{
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.015em;
    text-align: left;
}

.button{
    width: 300;
    height: 50;
    line-height: 50px;
    padding-left: 2%;
    padding-right: 2%;
    background: #CD5A83;
    border-radius: 5px;
    color:white;
}

.button p{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.015em;

}